# Ambiances et environnements
.github/
agbledɔ01venv/
.env

# Python
.pip-cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# MLOps et Tracking d'expériences
mlruns/
wandb/
runs/
logs/

# Données
data/*
!data/processed/
data/processed/*
!data/processed/data_summary.csv

# Fichiers de modèles
models/

# Cache divers
.vscode/
.idea/
