# Ambiances et environnements
agbledɔ01venv/
.env

# Python
.pip-cache
__pycache__/
.pytest_cache/

# MLOps et Tracking d'expériences
mlruns/
runs/
logs/

# Données
data/

# Fichiers de modèles
models/

# Cache divers
.vscode/
.idea/
