# Deep Learning & Vision
torch
torchvision
ultralytics
opencv-python-headless
Pillow

# Explicabilité
grad-cam

# Tracking d'Expérimentations
mlflow

# API de Déploiement
fastapi
uvicorn[standard]
pydantic
python-multipart

# Application Frontend
streamlit

# Manipulation de Données & Utilitaires
numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm
python-dotenv
jupyter

# Tests
pytest
